---
layout: default
title: Home
published: true
---


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
    <table class="post-meta">
    {% if post.fpv %}
      <tr><td>FPV</td> <td>{{ post.fpv }}</td></tr>
    {% endif %}
    {% if post.duration %}
      <tr><td>duration</td> <td>{{ post.duration }}</td></tr>
    {% endif %}
    {% if post.mode %}
      <tr><td>mode</td> <td>{{ post.mode }}</td></tr>
    {% endif %}
    {% if post.amps %}
      <tr><td>amps</td> <td>{{ post.amps }}</td></tr>
    {% endif %}
    {% if post.batteries %}
      <tr><td>batteries</td> <td>{{ post.batteries }}</td></tr>
    {% endif %}
    </table>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
